@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap'); */

* {
    font-family: "Figtree", sans-serif;
    /* color: #e4e4e4; */
}

:root {
    --black: #000000;
    --dark: #161616;
    --color1: #2477BF;
    --color2: #397373;
    --color3: #6595BF;
    --color4: #C9EBF2;
    --white: #ffffff;
    --red: #bf0404;
    --green: #02731e;
    --grayBlue: #b2bdc4;
    --gray: colors.gray;
    --ligthGreen: #54ffaf;
    --background: rgb(245, 245, 245);
}
.text-editor ul, .description ul  {
    list-style-type: disc !important;
    padding: inherit !important;
    margin-left: 25px !important;
}
.text-editor ol, .description ol {
    list-style-type: decimal !important;
    padding: inherit !important;
    margin-left: 25px !important;
    
}
/* // dashboard  */
.dashboard_container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    height: 100dvh;
    display: grid;
    grid-template-rows: 40px 1fr 49px;
    transition: all 0.3s ease;
    background: var(--background);
    color: #1d1d1d;
}
.cl-content {
    /* resize: both; */
    box-shadow: none !important;
    background-color: rgb(231, 231, 231) !important;
    height: 200px !important;
    width: 382px !important;
  }
.main_and_footer_container {
    display: grid;
    grid-template-rows: 1fr auto;
    /* overflow: auto; */
    /* overflow-x: hidden; */
    scrollbar-gutter: stable;
    overflow-y: auto;
    overflow-x: hidden;
}
@media (min-width: 750px) {
    /* … */

    .main_and_footer_container::-webkit-scrollbar {
        width: 12px; /* width of the entire scrollbar */
    }

    .main_and_footer_container::-webkit-scrollbar-track {
        background: transparent; /* color of the tracking area */
    }

    .main_and_footer_container::-webkit-scrollbar-thumb {
        background-color: #6595bf; /* color of the scroll thumb */
        border-radius: 20px; /* roundness of the scroll thumb */
        /* border: 3px solid orange;  creates padding around scroll thumb */
    }
}

.main_dashboard {
}

@media (min-width: 768px) {
    .dashboard_container {
        grid-template-columns: 210px 1fr;
        grid-template-rows: auto 1fr;
        /* color: #ff6464; */
    }
    .left_nav {
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    header {
        grid-column-start: 2;
        /* grid-column: span 2; */
    }

    .menuStatus-false {
        grid-template-columns: 60px 1fr;
    }

    .menuStatus-false .label_link {
        display: none !important;
        padding: 2px;
    }

    .menuStatus-false .burger_icon {
        /* transform: scalex(-1); */
    }

    .menuStatus-false .logo {
        /* position: relative;
        left: -1px; */
        display: none;
    }
    .menuStatus-false a {
        justify-content: center;
    }

    .burger_icon {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 48px;
    }

    .main_and_footer_container {
        grid-template-rows: 1fr auto;
        /* padding-top: 30px; */
    }
}

body {
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 30px;
    color: var(--color2);
    font-weight: bold;
    /* letter-spacing: 1.1px; */
}

.table thead {
    background-color: rgb(247, 247, 247);
    color: rgb(44, 44, 44);
}

.table tbody {
    background-color: rgb(251, 251, 251);
    border-color: white;
}

.table th {
    font-size: 0.875rem;
    /* .text-sm */
    font-weight: 400;
    /* .font-normal */
    text-align: left;
    /* .text-left */
    /* color: rgb(184, 188, 197); */
    /* dark\:text-gray-400 */
    padding-left: 1rem;
    padding-right: 1rem;
    /* px-4 */
    padding-top: 14px;
    padding-bottom: 14px;
    /* py-3.5 */
}

.table td {
    padding: 14px;
    padding-inline: 1rem;
    font-size: 0.975rem /* 14px */;
    line-height: 1.25rem /* 20px */;
    white-space: nowrap;
    color: rgb(39, 39, 39);
}

.btn_create {
    padding: 10px;
    padding-inline: 25px;
    border-radius: 4px;
    background: var(--color4);
    font-weight: bold;
    color: var(--color1);
    box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.253);
    position: relative;
    z-index: 1;
}

.btn_create:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: var(--color3);
    border-radius: 5px;
    box-shadow: inset 2px 0px 0px 0px rgba(255, 255, 255, 0.418),
        7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.btn_create:hover {
    color: #fff;
}

.btn_create:hover:after {
    left: 0;
    width: 100%;
}

.btn_create:active {
    top: 2px;
}

option {
    /* background: #050713; */
    padding: 10px;
}

progress {
    width: 100%;
    height: 7px;
    border-radius: 10px;
    transform: rotate(180deg);
}

/* Style the progress bar track */
progress::-webkit-progress-bar {
    background: linear-gradient(80deg, rgb(100, 238, 220) 9%, #2758da 93%);

    border-radius: 10px;
}

/* Style the progress bar value */
progress::-webkit-progress-value {
    border-radius: 10px 0 0 10px;
    background-color: rgb(88, 88, 88);
}
